.home{
	background-color: #fff;
}
/*头部提示信息样式*/
.home .tip {
	width: 100%;
	height: 36px;
	background-color: #f3f3f3;
}
.tip .t_all{
	width: 1205px;
	margin: 0 auto;
}
.tip .t_content{
	width: 100%;
	font-size: 12px;
	font-family: "microsoft yahei";
	line-height: 36px;
}
.t_content .t_left{
	float: left;
}
.t_content .t_left a{
	margin-left: 12px;
	color: #39a030;
}
.t_content .t_right{
	float: right;
}
.t_content .t_right .notip{
	display: inline-block;
	width: 20px;
	height: 10px;
	background:url(../image/icon.png) no-repeat;
	background-position:0 0;
	margin-right: 5px;
	vertical-align: middle;

}
/*清除浮动*/
.clearfix:after{
	content: '.';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
/*头部导航样式*/
.topheader{
	width: 100%;
}
.topheader .th_container{
	width: 1205px;
	height: 89px;
	margin: 0 auto;
	text-align: left;
	font-size: 12px;
}
.th_left{
	float: left;
}
.th_left .th_logo{
	display: inline-block;
}
.th_left .th_logo>a{
	font-size: 28px;
	font-weight: bold;
	font-family: 'Gill Sans MT';
	color: #39a030;
	/*line-height: 20px;*/
}
.th_left .th_name a{
	font-size: 22px;
	/*line-height: 20px;*/
}
.th_left .th_flow{
	display: inline-block;
	margin-left: 30px;
}
.th_left .th_fan{
	display: inline-block;
	margin-left: 14px;
}
.th_right{
	float: right;
	padding:36px 0 37px 0;
}
.th_nav li{
	float: left;
	margin-left: 55px;
	height: 16px;
}
.th_nav li a{
	display: inline-block;
	font-size: 16px;
	/*line-height: 20px;*/
}